/*Global styles
---------------------------------*/
/*box model fix*/
html {
  box-sizing: border-box;
}
*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}

a {
  color: #2f3e46;
}

a:visited {
  background: #ff006e;
}

/* a:focus{
outline: 1px solid black;
} */

a:hover {
  background: rgb(229, 233, 224);
  text-decoration: none;
}

a:active {
  background: #e5e5e5;
}

.content-wrap h1 {
  font-size: 100px;
  line-height: 1;
}
.content-wrap p {
  display: block;
}
h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0 auto;
}

h3 {
  margin: 10px 0 0 0;
  font-size: 20px;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}
.buttons {
  display: inline-block;
  /* flex-wrap: nowrap; */
}
/* .item-details h3 + p {
  font-style: italic;
} */
.work-headline {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
  /* display: flex; */
}

.divider > section {
  border-bottom: 1px dashed #2f3e46;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}
.intro {
  text-align: justify;
  text-justify: auto;

  justify-content: center;
}

/*Profile
---------------------------------*/
header {
  background-color: #343434;
  /* background-image: url(../images/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg); */
  color: white;
}

/*Images-----------*/
.pictures img {
  width: 80%;
  height: 200px;
  margin: 0 10%;
}
.pictures section {
  display: inline-block;
  width: 30%;
  height: 250px;
  margin: 0 10px;
  text-align: center;
}
/*Projects
---------------------------------*/
.projects {
  /* background: #cad2c5;
   */
  background: linear-gradient(to top left, #289fb4, #6f98d5);
}

.projects .btn {
  color: #edddd4;
  background: #013a63;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(1, 58, 99, 80%);
}

.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
}

/*Skills
---------------------------------*/
.skills {
  /* background-color: #99c1de; */
  background: linear-gradient(to top left, #ebecec, #d1d4d4);
  /* background-image: url(../images/white.jpg);
  /* color: white; */
  background-size: cover;
  background-position: top right;

  /* padding-bottom: 20px;  */
}

/*Work Experience
---------------------------------*/
.work-experience {
  background-color: #e2e2df;
  /* background-image: url(../images/white.jpg);
  /* color: white; */
  background-size: cover;
  background-position: top right;

  /* padding-bottom: 20px;  */
}
.gameimage {
  /* width: 50%; */
  width: 8rem;
  height: auto;
}
/*Certificates and Education
---------------------------------*/
.cert {
  /* background: #f8f9fa; */
  background-image: url(/MAIN/images/yellow.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 20px;
}
.cert p {
  width: 60%;
}

.edu {
  background-image: url(/MAIN/images/white.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 20px;
}
.edu p {
  width: 60%;
}
/*footer
---------------------------------*/

footer {
  background-color: #343434;
  color: white;
}
footer a {
  color: white;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
}
/*responsive
---------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }

  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  .work-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 40px;
    text-align: justify;
    text-justify: auto;
    /* font-size: 10px; */

    /* justify-content: center; */
  }
  .contact-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }

  h2 {
    line-height: 1;
  }
  /* .pictures img{
  width: 80%;
  height: 200px;
  margin:0 10%;
} */
  .pictures section {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
  }
}
