/* @import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  border: 7px solid #eee;
  height: 100%;
}

body {
  /* background-color: #222; */
  background-image: url(images/games.jpg);
  overflow: hidden;
  height: 100%;
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
  background-repeat: no-repeat;
  color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  /* width: 335vh; */
  border-bottom: 7px solid #eee;

  /* width: fit-content; */
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img {
  width: 16rem;
  height: 12rem;
}

.instruction {
  font-size: 2rem;
  padding: 2rem 3rem;
}
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.between {
  font-size: 2.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.guess {
  background: #222;
  border: 4px solid white;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}
